
.live-stream {
    margin-top: 60px;
    border-radius: 23px;
    background-color: #1f2122;
    padding: 30px;
}

.live-stream .item {
    margin-bottom: 30px;
}

.live-stream .thumb {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}

.live-stream .thumb img {
    border-radius: 23px;
}

.live-stream .thumb:hover .hover-effect {
    opacity: 1;
    visibility: visible;
}

.live-stream .hover-effect {
    opacity: 0;
    visibility: hidden;
    transition: all .4s;
}

.live-stream .hover-effect .live a {
    position: absolute;
    background-color: rgba(236, 96, 144, 0.9);
    padding: 5px 10px;
    border-radius: 23px;
    color: #fff;
    font-size: 14px;
    right: 15px;
    top: 15px;
}

.live-stream .hover-effect ul {
    position: absolute;
    bottom: 20px;
    text-align: center;
    width: 100%;
}

.live-stream .hover-effect ul li {
    display: inline-block;
    margin: 0px 5px;
}

.live-stream .hover-effect ul li a {
    background-color: rgba(236, 96, 144, 0.9);
    padding: 5px 10px;
    border-radius: 23px;
    color: #fff;
    font-size: 14px;
}

.live-stream .avatar img {
    margin-right: 15px;
}

.live-stream span i {
    color: #fff;
    background-color: #ec6090;
    border-radius: 50%;
    font-size: 12px;
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    margin-right: 3px;
}

.live-stream span {
    font-size: 14px;
    color: #ec6090;
}

.live-stream .down-content h4 {
    margin-top: 8px;
    font-size: 20px;
    font-weight: 700;
    margin-left: 61px;
}

.live-stream .main-button {
    text-align: center;
    margin-bottom: -53px;
}
