
.main-profile .main-info h4 {
    margin-bottom: 20px;
}

.main-profile .main-info .main-border-button {
    margin-top: 25px;
}

.main-profile ul {
    border-radius: 23px;
    padding: 30px;
    background-color: #27292a;
}

.main-profile ul li {
    width: 100%;
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #666;
}

.main-profile ul li span {
    float: right;
    font-weight: 500;
    color: #ec6090;
}

.main-profile ul li:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

.clips {
    margin-top: 30px;
    border-top: 2px solid #27292a;
}

.clips .heading-section {
    margin-top: 30px;
}

.clips .item  {
    border-radius: 23px;
    padding: 30px 15px;
    background-color: #27292a;
    margin-bottom: 30px;
}

.clips .item .thumb {
    position: relative;
    margin-bottom: 15px;
}

.clips .item .thumb a {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-23px, -23px);
    width: 46px;
    height: 46px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 46px;
    color: #ec6090;
}

.clips .item h4 {
    font-size: 15px;
    display: inline-block;
}

.clips .item span i {
    color: #ec6090;
}

.clips .item span {
    float: right;
    color: #fff;
    font-size: 14px;
}

.clips .main-button {
    margin-top: 10px;
    text-align: center;
}
